# Copie para ~/.pypirc (NÃO commite o arquivo com tokens):
#   cp .pypirc.example ~/.pypirc
#   chmod 600 ~/.pypirc
#
# Tokens: https://pypi.org/manage/account/token/
#         https://test.pypi.org/manage/account/token/

[distutils]
index-servers =
    pypi
    testpypi

[pypi]
username = __token__
password = pypi-COLE_SEU_TOKEN_PYPI_AQUI

[testpypi]
repository = https://test.pypi.org/legacy/
username = __token__
password = pypi-COLE_SEU_TOKEN_TESTPYPI_AQUI
